header{
	background-color: #EBE2D9;
	height: 200px;
}

.pangolin{
	font-family: 'Pangolin', cursive;
}

.custom-nav{
	background-color: #2C3E50;
	color: #ecf0f1;
}

a{
	color: #ecf0f1;
}

a:hover, a:active{
	color: #95a5a6;
}